* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.student-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: whitesmoke;
}
.links {
  display: flex;
  justify-content: space-between;
}
.links p {
  padding: 2px 8px;
}
.services {
  padding: 10px;
  text-align: center;
}
.service {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.TransciptForm {
  width: 550px;
  height: 750px;
}
.transcipt-div {
  padding: 10px;
  margin-left: 350px;
  background-color: whitesmoke;
  width: 50%;
  text-align: center;
}
.to-next {
  display: flex;
  justify-content: space-around;
}
.dropzone {
  text-align: center;
  padding: 30px;
  border: 3px dashed darkblue;
  background-color: #fafafa;
  color: #bdbdbd;
  cursor: pointer;
  margin-bottom: 20px;
}

.selected-file-wrapper {
  text-align: center;
}

.selected-file {
  color: #000;
  font-weight: bold;
}

.requests {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  background-color: whitesmoke;
  padding: 7px;
}
.staff-view {
  background-color: whitesmoke;
  margin: 10px;
  text-align: center;
  padding: 10px;
}
.images {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  text-align: center;
}
.filess {
  display: flex;
  justify-content: space-between;
  margin: 8px;
  padding: 8px;
}
.link:hover {
  cursor: pointer;
}
.d-page {
  margin: 10px;
  padding: 7px;
  display: flex;
  flex-direction: row;
}
.dlink {
  margin: 10px;
}
